body {
    background-color: powderblue;
}
h1 {
    color: blue;
    font-family: verdana;
}
h2 {
    color: blue;
    font-family: verdana;
}
h3 {
    color: blue;
    font-family: verdana;
}
h4 {
    color: blue;
    font-family: verdana;
}
p {
    color: red;
    font-family: courier;
    font-size: 100%;
}

.header-site{
   background-color: #000000;
   background-image: url(PictureFolder/green_day_logo.png); 
   background-position: 100% 100%;
   background-repeat: no-repeat;
}

